* {
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1,
h2 {
  color: #003399;
}

h1,
div.border {
  margin: 10px;
}

h2.subtitle {
  margin: 0 0 30px 10px;
  color: black;
  font-weight: normal;
}

.input-section .input-subsection:not(:last-child) {
  margin-bottom: 25px;
}

.input-subsection h2,
#compare-section h2 {
  margin-bottom: 10px;
}

div.border {
  border: 1px solid #003399;
  border-radius: 5px;
  padding: 15px;
}

button,
input {
  border-radius: 2px;
  padding: 5px;
}

button {
  border: none;
  cursor: pointer;
}

button:focus,
button:hover {
  outline: 1px solid #66ccff;
}

input {
  border: 1px solid #003399;
  margin-right: 15px;
}

input:focus {
  outline: 1px solid #003399;
}

label {
  margin-right: 5px;
}

select {
  background-color: #66ccff;
  color: black;
  border: 1px solid #003399;
  padding: 5px 10px;
  margin-right: 15px;
  font-size: 1rem;
}

select option {
  padding: 0 10px;
}

table,
tr,
td,
th {
  border-collapse: collapse;
  padding: 8px 12px;
}

th:not(:last-child),
td:not(:last-child) {
  border: 1px solid black;
}

th:not(:last-child),
button {
  font-weight: bold;
  color: #66ccff;
  background-color: #003399;
}

tr:nth-child(even) td:not(:last-child),
input {
  background-color: #66ccff;
}
